
*{
  padding: 0;
  margin: 0; 
}
.container {
  width: 500px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  display: flex;
  gap: 20px;
  background-color:  #80acdc ;
}
.delete-button{
  padding: 8px 12px;
  background-color: #f43636;
  color: white;
  border: none;
  cursor: pointer;
}
.edit-button{
  padding: 8px 12px;
  background-color: #53b553;
  color: white;
  border: none;
  cursor: pointer;
}
.toggle-button{
  padding: 8px 12px;
background-color: #007bff;
color: white;
border: none;
cursor: pointer;
}
.list-container {
  margin-bottom: 30px;
}
.edit-modal {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.edit-modal input {
  width: 298px;
  padding: 6px;
  margin-bottom: 10px;
}
.status{
  width: 315px;
  padding: 6px;
}

.edit-modal button {
  padding: 8px 16px;
  margin: 5px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 35%;
  margin-left: 80px;
  text-align: center;
}


[data-tip] {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px; 
  border-bottom: 1px dashed #ccc;
  margin-top: 50px;
  z-index: 22; 
  padding: 2px;
  text-align: center;
  margin-top : 20px ;
}

[data-tip]:hover::after {
  content: attr(data-tip);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px;
  top: -1px; 
  left: 0;
  z-index: 999;
  white-space: nowrap;
}

[data-tip]:hover:after {
  content: attr(data-full-tip);
  opacity: 1;
  visibility: visible;
  max-width: none; 
}
.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10%;
}
.button-container button{
  margin-left: 10px; 
  padding: 8px 12px;
}

.list-container {
  width: 100%;
  table-layout: fixed;
}

.item-container{
  display: flex;
  flex-direction: column;
}
.modified-label {
  color: black;
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 4px;
}
.date-label{
  display: block;
  margin-top: 5px;
}
.model {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.model-label{
 display: flex;
 flex-direction: column;
 gap: 15px;
}
.btns{
  display: flex;
  justify-content: flex-end;
  gap : 5px;
}
.btns .deleteCancel{
  background-color: red;
}
.status-change-modal{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.status-change-label{
  display: flex;
  flex-direction: column;
  gap: 15px;

}










