
*{
  padding: 0;
  margin: 0; 
}
.container {
  width: 500px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  /* margin-top: 1vh; */
  display: flex;
  gap: 20px;
  /* background-color:rgb(249, 85, 118); */
  background-color:  #80acdc ;
}

input {
  width: 390px;
  padding: 10px;
  margin-bottom: 10px;
}

.Add-button{
  width: 100px;
  height: 36px;
  background-color: #3f72ce;
  color: white;
  margin-top: 1px;
  border:none;
  cursor: pointer;
}

.form-container{
  display: flex;
  gap: 20px;
}

.input-field{
  display: flex;
  gap: 10px;
}  

.delete-button{
  padding: 8px 12px;
  background-color: #f43636;
  color: white;
  border: none;
  cursor: pointer;
}
.edit-button{
  padding: 8px 12px;
  background-color: #53b553;
  color: white;
  border: none;
  cursor: pointer;
}
.toggle-button{
  padding: 8px 12px;
background-color: #007bff;
color: white;
border: none;
cursor: pointer;
}
.list-container {
  margin-bottom: 30px;
  /* background-color: #c9adeb */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid #ccc;
  margin-bottom: 2px;
/* background-color:turquoise; */
}
th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: rgb(249, 85, 118);
  color: #fff;
  text-align: left;
}

/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

tr:hover {
  background-color: #ddd;
}


th.header-cell {
  text-align: center;
}

.status-text{
  margin-right: 10px;

}

.edit-modal {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 300px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.edit-modal input {
  width: 298px;
  padding: 6px;
  margin-bottom: 10px;
}
.status{
  width: 315px;
  padding: 6px;
}

.edit-modal button {
  padding: 8px 16px;
  margin: 5px;
  /* background-color: #007BFF; */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 35%;
  margin-left: 80px;
  text-align: center;
}

[data-tip] {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px; 
  border-bottom: 1px dashed #ccc;
  margin-top: 50px;
  z-index: 22; 
  padding: 2px;
  text-align: center;
  margin-top : 20px ;

}

[data-tip]:hover::after {
  content: attr(data-tip);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px;
  top: -1px; 
  left: 0;
  z-index: 999;
  white-space: nowrap;

}
[data-tip]:hover:after {
  content: attr(data-full-tip);
  opacity: 1;
  visibility: visible;
  max-width: none; 
}
.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10%;
}
.button-container button{
  margin-left: 10px; 
  padding: 8px 12px;
}

.list-container {
  width: 100%;
  table-layout: fixed;
}
table td  {
  padding: 3px;
  text-align: center;
  overflow: hidden;
}
.Table{
  height: 330px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.item-container{
  display: flex;
  flex-direction: column;
}
.modified-label {
  color: black;
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 4px;
}
.date-label{
  display: block;
  margin-top: 5px;
}
.model {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 400px;
  height: 150px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.model-label{
 display: flex;
 flex-direction: column;
 gap: 15px;
 /* text-align: center; */

}
.btns{
  display: flex;
  justify-content: flex-end;
  gap : 5px;

}
.btns .deleteCancel{
  background-color: red;
}
.status-change-modal{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 400px;
  height: 150px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between; 

}
.status-change-label{
  display: flex;
  flex-direction: column;
  gap: 15px;

}
.Search-input{
  width: 210px;
  margin-left: 10px;
  margin-bottom: 1px;
  margin-top: 10px;
}
.Search-box{
  margin-top: 5vh;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
.pagination-container{
  display: flex;
 gap: 40px;
 justify-content: space-between;
 margin-bottom: 10PX;
 text-transform: capitalize;

}
.pagination-container button{
  padding: 10px;
  border-radius: 20px;
  width: 90px;
  font-weight: 700;
  font: 14px/1.5 times new roman;
  text-decoration: none;


}
.pagination-container button:hover{
  background-color: red;
  
}
.archiev-container{
  margin-left: 200px;
  margin-bottom: 50px;
  width: 25px;
  height: 30px;
}
.archive-container {
  position: relative;
}

.archived-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 7px;
  font-weight: bold;
}
.archive-model {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 400px;
  width: 50%;
  margin-left: 33%;
 top: 45%;
 height: 330px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.archive-model label {
  display: block;
  align-items: center;
  margin-bottom: 10px;
  gap: 25px;
}

.archive-model button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.archive-model button:hover {
  background-color: #0056b3;
}








